---
http_interactions:
- request:
    method: get
    uri: https://puppettest.logicmonitor.com/santaba/rest/setting/collectors?fields=id&filter=description:UnitTestCollector&size=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - LMv1 9K3A362Bv2N9pGbfgA22:MWE0MjYyYTUxOTg5M2FlODAwMGVhZWFlMDdhYzE5OGMwMTdmNWE1MjI0OGU2N2MyZmNlMzI3ZWExMWY2OWE3Zg==:1549296363199
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Server-Version:
      - 115-39
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 200,
          "errmsg" : "OK",
          "data" : {
            "total" : 1,
            "items" : [ {
              "id" : 159
            } ],
            "searchId" : null
          }
        }
  recorded_at: Mon, 04 Feb 2019 16:06:03 GMT
recorded_with: VCR 4.0.0
