---
http_interactions:
- request:
    method: get
    uri: https://puppettest.logicmonitor.com/santaba/rest/device/groups?filter=fullPath:groupunittest&size=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - LMv1 redacted
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Server-Version:
      - 114-65
      X-Rate-Limit-Limit:
      - '400'
      X-Rate-Limit-Remaining:
      - '399'
      X-Rate-Limit-Window:
      - '60'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 200,
          "errmsg" : "OK",
          "data" : {
            "total" : 0,
            "items" : [ ],
            "searchId" : null
          }
        }
  recorded_at: Mon, 04 Feb 2019 16:27:11 GMT
recorded_with: VCR 4.0.0
