---
http_interactions:
- request:
    method: get
    uri: https://puppettest.logicmonitor.com/santaba/rest/device/groups?fields=id&filter=fullPath:groupunittest&size=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - LMv1 redacted
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Server-Version:
      - 114-65
      X-Rate-Limit-Limit:
      - '400'
      X-Rate-Limit-Remaining:
      - '398'
      X-Rate-Limit-Window:
      - '60'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 200,
          "errmsg" : "OK",
          "data" : {
            "total" : 1,
            "items" : [ {
              "id" : 1932
            } ],
            "searchId" : null
          }
        }
  recorded_at: Mon, 04 Feb 2019 16:27:13 GMT
- request:
    method: get
    uri: https://puppettest.logicmonitor.com/santaba/rest/device/groups/1932/properties?fields=name,value&filter=type:custom,name!:system.categories,name!:puppet.update.on
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - LMv1 redacted
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Server-Version:
      - 114-65
      X-Rate-Limit-Limit:
      - '500'
      X-Rate-Limit-Remaining:
      - '499'
      X-Rate-Limit-Window:
      - '60'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 200,
          "errmsg" : "OK",
          "data" : {
            "total" : 1,
            "items" : [ {
              "name" : "testgroup1",
              "value" : "groupval1"
            } ],
            "searchId" : null
          }
        }
  recorded_at: Mon, 04 Feb 2019 16:27:13 GMT
recorded_with: VCR 4.0.0
