---
http_interactions:
- request:
    method: get
    uri: https://puppettest.logicmonitor.com/santaba/rest/device/groups?fields=id,parentId&filter=fullPath:groupunittest&size=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - LMv1 redacted
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Server-Version:
      - 114-65
      X-Rate-Limit-Limit:
      - '400'
      X-Rate-Limit-Remaining:
      - '399'
      X-Rate-Limit-Window:
      - '60'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 200,
          "errmsg" : "OK",
          "data" : {
            "total" : 1,
            "items" : [ {
              "id" : 1932,
              "parentId" : 1
            } ],
            "searchId" : null
          }
        }
  recorded_at: Mon, 04 Feb 2019 16:27:12 GMT
- request:
    method: patch
    uri: https://puppettest.logicmonitor.com/santaba/rest/device/groups/1932?opType=replace&patchFields=name,parentId,disableAlerting,description,customProperties
    body:
      encoding: UTF-8
      string: '{"name":"groupunittest","parentId":1,"disableAlerting":"true","description":"updated
        unit testing","customProperties":[{"name":"testgroup1","value":"groupval1"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - LMv1 redacted
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Server-Version:
      - 114-65
      X-Rate-Limit-Limit:
      - '250'
      X-Rate-Limit-Remaining:
      - '249'
      X-Rate-Limit-Window:
      - '60'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 200,
          "errmsg" : "OK",
          "data" : {
            "id" : 1932,
            "parentId" : 1,
            "name" : "groupunittest",
            "description" : "updated unit testing",
            "groupType" : "Normal",
            "awsRegionsInfo" : "",
            "azureRegionsInfo" : "",
            "gcpRegionsInfo" : "",
            "awsTestResult" : null,
            "azureTestResult" : null,
            "autoVisualResult" : null,
            "awsTestResultCode" : 200,
            "azureTestResultCode" : 200,
            "createdOn" : 1549297632,
            "disableAlerting" : true,
            "enableNetflow" : true,
            "hasNetflowEnabledDevices" : false,
            "appliesTo" : "",
            "customProperties" : [ {
              "name" : "testgroup1",
              "value" : "groupval1"
            } ],
            "fullPath" : "groupunittest",
            "numOfHosts" : 0,
            "numOfAWSDevices" : 0,
            "numOfAzureDevices" : 0,
            "numOfGcpDevices" : 0,
            "numOfDirectDevices" : 0,
            "numOfDirectSubGroups" : 0,
            "effectiveAlertEnabled" : false,
            "sdtStatus" : "none-none-none",
            "alertStatus" : "none",
            "alertStatusPriority" : 100000,
            "clusterAlertStatus" : "none",
            "clusterAlertStatusPriority" : 100000,
            "alertDisableStatus" : "none-disable-none",
            "alertingDisabledOn" : null,
            "groupStatus" : "normal",
            "userPermission" : "write",
            "extra" : { },
            "subGroups" : [ ],
            "defaultCollectorId" : 0,
            "defaultCollectorDescription" : null,
            "defaultCollectorGroupId" : 0
          }
        }
  recorded_at: Mon, 04 Feb 2019 16:27:12 GMT
recorded_with: VCR 4.0.0
