---
http_interactions:
- request:
    method: get
    uri: https://puppettest.logicmonitor.com/santaba/rest/device/devices?fields=id&filter=displayName:unittest&size=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - LMv1 foo:bar:1548869193574
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Server-Version:
      - 114-65
      X-Rate-Limit-Limit:
      - '700'
      X-Rate-Limit-Remaining:
      - '699'
      X-Rate-Limit-Window:
      - '60'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 200,
          "errmsg" : "OK",
          "data" : {
            "total" : 1,
            "items" : [ {
              "id" : 1514
            } ],
            "searchId" : null
          }
        }
  recorded_at: Wed, 30 Jan 2019 17:26:35 GMT
- request:
    method: delete
    uri: https://puppettest.logicmonitor.com/santaba/rest/device/devices/1514
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - LMv1 foo:bar:1548869193574
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Server-Version:
      - 114-65
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '299'
      X-Rate-Limit-Window:
      - '60'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 200,
          "errmsg" : "OK",
          "data" : null
        }
  recorded_at: Wed, 30 Jan 2019 17:26:35 GMT
recorded_with: VCR 4.0.0
