---
http_interactions:
- request:
    method: get
    uri: https://puppettest.logicmonitor.com/santaba/rest/device/devices?fields=id&filter=displayName:unittest&size=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - LMv1 foo:bar:1548869193574
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Server-Version:
      - 114-65
      X-Rate-Limit-Limit:
      - '700'
      X-Rate-Limit-Remaining:
      - '699'
      X-Rate-Limit-Window:
      - '60'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 200,
          "errmsg" : "OK",
          "data" : {
            "total" : 0,
            "items" : [ ],
            "searchId" : null
          }
        }
  recorded_at: Wed, 30 Jan 2019 16:53:42 GMT
- request:
    method: get
    uri: https://puppettest.logicmonitor.com/santaba/rest/device/devices?filter=name:172.16.208.131,collectorDescription:agent.localdomain&size=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - LMv1 foo:bar:1548869193574
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Server-Version:
      - 114-65
      X-Rate-Limit-Limit:
      - '700'
      X-Rate-Limit-Remaining:
      - '699'
      X-Rate-Limit-Window:
      - '60'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 200,
          "errmsg" : "OK",
          "data" : {
            "total" : 0,
            "items" : [ ],
            "searchId" : null
          }
        }
  recorded_at: Wed, 30 Jan 2019 16:53:42 GMT
recorded_with: VCR 4.0.0
