---
http_interactions:
- request:
    method: get
    uri: https://puppettest.logicmonitor.com/santaba/rest/setting/collectors?fields=description&filter=description:agent.localdomain&size=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - LMv1 foo:bar:1548869193574
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Server-Version:
      - 114-65
      X-Rate-Limit-Limit:
      - '500'
      X-Rate-Limit-Remaining:
      - '499'
      X-Rate-Limit-Window:
      - '60'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 200,
          "errmsg" : "OK",
          "data" : {
            "total" : 1,
            "items" : [ {
              "description" : "agent.localdomain"
            } ],
            "searchId" : null
          }
        }
  recorded_at: Wed, 30 Jan 2019 17:26:33 GMT
recorded_with: VCR 4.0.0
