---
http_interactions:
- request:
    method: get
    uri: https://puppettest.logicmonitor.com/santaba/rest/device/devices?fields=hostGroupIds&filter=displayName:unittest&size=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - LMv1 foo:bar:1548869193574
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Server-Version:
      - 114-65
      X-Rate-Limit-Limit:
      - '700'
      X-Rate-Limit-Remaining:
      - '699'
      X-Rate-Limit-Window:
      - '60'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 200,
          "errmsg" : "OK",
          "data" : {
            "total" : 1,
            "items" : [ {
              "hostGroupIds" : "159,223,46"
            } ],
            "searchId" : null
          }
        }
  recorded_at: Wed, 30 Jan 2019 17:26:34 GMT
- request:
    method: get
    uri: https://puppettest.logicmonitor.com/santaba/rest/device/groups?fields=appliesTo,fullPath&filter=id:159%7C%7Cid:223%7C%7Cid:46
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - LMv1 foo:bar:1548869193574
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Server-Version:
      - 114-65
      X-Rate-Limit-Limit:
      - '400'
      X-Rate-Limit-Remaining:
      - '399'
      X-Rate-Limit-Window:
      - '60'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 200,
          "errmsg" : "OK",
          "data" : {
            "total" : 3,
            "items" : [ {
              "appliesTo" : "",
              "fullPath" : "unittest"
            }, {
              "appliesTo" : "system.displayname !~ \"\\\\dn\\\\d|c\\\\d+c\" && system.displayname !~ \"engine*\"",
              "fullPath" : "Logical Groups/Not Engine"
            }, {
              "appliesTo" : "isMisc()",
              "fullPath" : "Devices by Type/Misc"
            } ],
            "searchId" : null
          }
        }
  recorded_at: Wed, 30 Jan 2019 17:26:34 GMT
recorded_with: VCR 4.0.0
